* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
  justify-content: center;
  background-color: rgb(18, 11, 73);
  color: rgb(196, 200, 203);
}

/* ---------------------
!!!!!!!!! TEXT !!!!!!!!!!
------------------------ */
h1 {
  margin: 50px;
  font-size: 60px;
}
h2 {
  margin-bottom: 30px;
}
p {
  margin: 20px;
  color: whitesmoke;
}
/* ---------------------
!!!!!!!!! Button !!!!!!!
------------------------ */
button {
  padding: 10px 20px;
  margin-inline: 20px;
  font-size: 19px;
  border-radius: 20px;
}
